# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
.idea
visualisation/target
visualisation/visualisation.iml
common/target
cluster/target
cluster/cluster.iml
common/common.iml

